<ion-view title="Service: Подъезд {{user.address.ladder}}">
  <div class="home-content-bg"></div>
  <ion-content>
    <div class="articel-preview" ng-repeat="service in servicesList"  ng-click="goTo(service)">
      <div class="bg">
      </div>
      <div class="articel-preview_content">
        <div class="row padding-vertical-17">
          <div class="col  no-vertical-padding">
            <time class="date">{{service.date}} {{service.time}}</time>
        </div>
      </div>
        <div class="row padding-vertical-17">
          <div class="col no-vertical-padding clearfix">
            <div ng-repeat="type in service.types" class="type">
              <i class="icon-{{type}}"></i>
            </div>
            <h3 class="header">
              {{service.header}}
            </h3>
          </div>
        </div>
        <div  class="row padding-vertical-17 message">
          <div class="col">
            {{service.message}}
          </div>
        </div>
        <div class="row">
          <div class="col show-all-row">
            <i class="icon-arrow-down">
            </i>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-blur">
        </div>
        <button class="show-all">
          <i class="icon-arrow-down-white"></i>
        </button>
      </footer>
    </div>
  </ion-content>
  <div class="bar bar-footer counters-footer" ng-class="{'counters-footer-has-message':canPay}">
    <div class="footer-buttons">
      <button class="button-circle pull-left" type="button" ui-sref="main.services.add">
        <i class="icon-plus-menu"></i>
      </button>
        <button class="button-circle pull-right" type="button" ui-sref="main.dash">
          <i class="icon-td-back"></i>
        </button>
    </div>
  </div>
</ion-vew>
