<ion-view hide-nav-bar="true" class="login-content bg-photo content">
  <ion-content overflow-scroll="true">
    <div class="bottom-block-fixer">
      <div class="row logo-row">
        <div class="center col">
          <div class="logo-conatiner">
            <img src="assets/icon/logo.svg"/>
          </div>
        </div>
      </div>
      <div class="login-box">
        <form ng-submit="testCode(code)" name="testCodeForm">
          <div class="bottom-block">
            <div class=" row row-bottom-input">
              <div class="col">
                <div class="list form-list">
                    <label class="item item-input">
                      <i class="icon-phone item-input_icon"></i>
                      <input class="text-input" type="text" placeholder="Проверочный код" name="code" ng-model="code" required></input>
                    </label>
                </div>
              </div>
            </div>
            <div class="col back-col">
              <button class="button-circle" type="button" ng-click="goBack()">
                <i class="icon-arrow icon-arrow-back"></i>
              </button>
            </div>
            <div class="signup-col">
              <button class="submit-btn button" full type="submit" ng-disabled="testCodeForm.$invalid" >
                <span ng-hide="login">Восстановит пароль</span>
                <span ng-hide="login">Войти</span>
              </button>
            </ion-col>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
