<ion-view title="Добро пожаловать">
  <ion-content class="has-header has-footer adv-hello">
    <div class="adv-header">
      Поздравляем Вас
      с началом новой
      эры ЖКХ!
    </div>
    <div class="adv-text">
      Прямо сегодня Вы можете начать пользоваться AIR KEY, видеовызовом, СУКД всего за 30 рублей весь следующий месяц. Если Вам понравится и Вы решите, что TELEDOM это для Вас, то со следующего месяца просто оставьте все услуги включенными!
    </div>
  </ion-content>
  <div class="bar bar-footer counters-footer">
    <div class="footer-buttons">
        <button class="button-bottom hello-btn" ui-sref="main.adv.add-card">
          <span>Продолжить использование <br/>
              бесплатных возможностей</span>
        </button>
    </div>
  </div>
</ion-view>
