<ion-view title="Видеонаблюдение">
  <ion-content class="has-header has-footer adv-video">
    <div class="adv-header">Начните
      пользоваться услугой
      «Видеонаблюдение»
    </div>
    <div class="adv-text">
      Наша компания представляет широкий выбор надежных видеокамер, разработанных на основе новейших комплектующих. Модельный ряд позволит Вам создать надежную систему видеонаблюдения, способную работать при любой освещенности и в любых климатических условиях.
    </div>
  </ion-content>
  <div class="bar bar-footer counters-footer">
    <div class="footer-buttons">
        <button class="button-bottom hello-btn" ui-sref="main.profile.pacgajes">
          <span>Подключить услугу «Видеонаблюдение»</span>
        </button>
    </div>
  </div>
</ion-view>
