<ion-view title="Teledom">
	<div class="home-content-bg"></div>
	<ion-content class="home-content" ng-class="{'has-main-nav':!newsMode, 'has-footer':newsMode}">
      <ion-refresher on-refresh="doRefresh()">
                     
      </ion-refresher>
		<div class="tabs">
			<div class="tab">
				<input class="tab-radio" type="radio" id="tab-1" name="tab-group-1" checked>
				<label class="tab-label" for="tab-1">ЗВОНКИ</label>
				<div class="content">
					<!--<div class="r">
                        <div class="item">
                            <input type="radio" id="toggle3">
                            <label for="toggle3">Сегодня</label>
                        </div>
                        <div class="item">
                            <input type="radio" id="toggle4">
                            <label for="toggle4">Неделя</label>
                        </div>
                        <div class="item">
                            <div class="calendar"></div>
                        </div>
                    </div>-->
					<div class="c">
						<div class="item" ng-class="{'active': clicked}" ng-click="clicked = !clicked" ng-repeat="call in callsList">
							<div class="data">
								{{call.time}}
							</div>
							<div class="img">
								<img src="{{call.avatar}}">
							</div>
							<div class="popup">
								<div class="w">
									<div class="img">
										<img src="{{call.avatar}}">
									</div>
									<div class="title2">{{call.time}}</div>
									<div class="buttons">
										<div class="btn no">ЗАКРЫТЬ</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab">
				<input class="tab-radio" type="radio" id="tab-2" name="tab-group-1">
				<label class="tab-label" for="tab-2">НОВОСТИ</label>
				<div class="content">
					<!--  <div class="r">
                        <div class="item">
                            <input type="radio" id="toggle3">
                            <label for="toggle3">Сегодня</label>
                        </div>
                        <div class="item">
                            <input type="radio" id="toggle4">
                            <label for="toggle4">Неделя</label>
                        </div>
                        <div class="item">
                            <div class="calendar"></div>
                        </div>
                    </div>-->
					<div class="a">
						<div class="item articel-preview" ng-class="{'full-size':news.full}" ng-repeat="news in newsList" ng-click="goTo(news)">
							<div class="w">
								<div class="data">
									{{news.date}}
								</div>
								<div class="status type" ng-repeat="type in news.types"><i class="icon-{{type}}"></i></div>
								<div class="more"></div>
							</div>
							<p class="n1">{{news.header}}</p>
							<p class="n2">{{news.message}}</p>
							<div class="popup">
								<div class="w">
									<div class="title2">20/03/2018 22:00</div>
									<p class="n1">Заголовок новости</p>
									<p class="n2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
									<div class="title2">Оставьте комментарий</div>
									<input type="text" placeholder="Текст...">
									<div class="buttons">
										<div class="btn no">ЗАКРЫТЬ</div>
										<div class="btn yes">ОПУБЛИКОВАТЬ</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab">
				<input class="tab-radio" type="radio" id="tab-3" name="tab-group-1">
				<label class="tab-label" for="tab-3">ПРОХОДЫ</label>
				<div class="content">
					<!--<div class="r">
                        <div class="item">
                            <input type="radio" id="toggle3">
                            <label for="toggle3">Сегодня</label>
                        </div>
                        <div class="item">
                            <input type="radio" id="toggle4">
                            <label for="toggle4">Неделя</label>
                        </div>
                        <div class="item">
                            <div class="calendar"></div>
                        </div>
                    </div>-->
					<div class="p">
						<div class="item" ng-repeat="keyopen in keyopenList">
							<div class="img">
								<img src="{{keyopen.avatar}}">
							</div>
							<div class="w">
								<div class="data">
									{{keyopen.time}}
								</div>
								<div class="more"></div>
								<div class="t">{{keyopen.number}}</div>
							</div>
							<div class="popup">
								<div class="w">
									<div class="title2">Настройки ключа</div>
									<div class="img">
										<img src="img/ho.png">
									</div>
									<div class="button">Загрузить фотографию</div>
									<div class="t">Имя владельца</div>
									<input type="text" placeholder="АННА ИОАНОВНА">
									<div class="buttons">
										<div class="btn no">ЗАКРЫТЬ</div>
										<div class="btn yes">ДОБАВИТЬ</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>



	</ion-content>
	<!--
  <div class="bar bar-footer counters-footer">
    <div class="footer-buttons">
        <button class="button-circle pull-left" type="button" ui-sref="main.news.add">
          <i class="icon-plus-menu"></i>
        </button>
        <button class="button-circle pull-right" type="button" ng-click="resetMode()">
          <i class="icon-td-back"></i>
        </button>
    </div>
    <span>Сегодня {{newsList.length}}</span>
  </div>
    -->
</ion-view>
