<ion-view hide-nav-bar="true" class="bg-black" title="">
  <div>
      <div class="bar bar-header app-header">
        <div class="title">
          Вам звонят в дверь
        </div>
      </div>
  </div>
  <ion-content class="has-header" scroll="false">
    <div>
      <img class="visitor-slide_avatar" ng-src="{{photo}}" alt="">
    </div>

    <div class="phone-buttons">
      <div class="open-door-container">
        <button type="button" name="button" class="open-door-button">
            <i class="icon-open-door"></i>
        </button>
      </div>
      <div class="call-buttons">
      <button ng-click="" class="start-call-button">
        <i class="icon-start-call"></i>
      </button>
      <button class="end-call-button">
        <i class="icon-end-call"></i>
      </button>
      </div>
    </div>
  </ion-content>
  </div>
