<div>
  <input id="free" class="hidden" type="checkbox" name="free" ng-change="toggleService(service.id)" ng-change="togglePayment()" ng-model="freeboost">
  <label for="free" class="pick-master-lablel">
    Обычное ускорение <br/> (0 рублей)
  </label>
  <input id="pay" class="hidden" type="checkbox" name="free" ng-change="toggleService(service.id)" ng-change="toggleFree()" ng-model="paymentboost">
  <label for="pay" class="pick-master-lablel">Быстро приехал! <br/> (100 рублей)
  </label>
</div>
