<ion-view title="Они к Вам приходили">
  <ion-content class="visitors-content">
    <div class="visitor clearfix" ng-repeat="visitor in visitors track by $index" ui-sref="main.visitors.single({visitors:visitors, active : $index})">
      <div class="visitor_avatar">
        <img ng-src="{{visitor.avatar}}">
      </div>
      <div class="visitor_controls">
        <div class="visitor_date">{{createDate(visitor.time)}}</div>
        <div class="visitor_name">{{visitor.name || 'Звонок в домофон'}}</div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer counters-footer">
    <div class="footer-buttons">
        <button class="button-circle pull-left" type="button" ng-click="goBack()">
          <i class="icon-arrow icon-arrow-back"></i>
        </button>
        <button class="button-circle pull-right" type="button" ui-sref="main.dash">
          <i class="icon-td-back"></i>
        </button>
    </div>
  </div>
</ion-view>
