<ion-vew title="Настрйока Air-Key">
  <ion-content class="has-header has-footer">
    <div class="row">
      <div class="col">
        <div class="checbox">
          <input id="car" class="checbox_input" type="checkbox" ng-model="airkey.car"/>
          <label class="checbox_lablel label-has-icon" for="car">
            <i class="icon-checkbox-checked label-has-icon_icon" ng-show="airkey.car"></i>
            <i class="icon-checkbox label-has-icon_icon" ng-show="!airkey.car"></i>
            Пропускать машину
          </lable>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="checbox">
          <input id="door" class="checbox_input" type="checkbox" ng-model="airkey.door"/>
          <label class="checbox_lablel label-has-icon" for="door">
            <i class="icon-checkbox-checked label-has-icon_icon" ng-show="airkey.door"></i>
            <i class="icon-checkbox label-has-icon_icon" ng-show="!airkey.door"></i>
            Открывать дверь
          </lable>
        </div>
      </div>
    </div>
    <div class="article-form_photo article-button-input">
      <button class="article-button-input_button full-size-white-button full-size-white-button-no-icon" ng-click="addBackground()">
        Открыть дверь
      </button>
    </div>
  </ion-content>
  <div class="bar bar-footer counters-footer">
    <div class="footer-buttons">
        <button class="button-bottom" ng-click="goBack()">
          <span>Сохранить</span>
        </button>
        <button class="button-circle pull-right" type="button" ui-sref="main.dash">
          <i class="icon-td-back"></i>
        </button>
    </div>
  </div>
</ion-vew>
