<ion-view title="Teledom">
  <button class="button-close-add" type="button" ui-sref="main.dash">
    <i class="icon-plus"></i>
  </button>
  <ion-content class="has-header has-footer adv-add-card">
    <div class="adv-add-card_small-text">Раньше вы оплачивали услугу «ДОМОФОН» по квитанциям и это стоило 50 руб/месс. Переходя на систему TELEDOM вы начинаете оплачивать домофон по карточке и TELEDOM дает вам скидку 10%.
Если вы уже оплатили домофон заранее, то, введя платеж по карточке у вас будет снят 1 руб., произойдет автоматическое зачисление средств, оплаченных ранее на ваш счет TELEDOM, и будет предоставлена скидка 10% на все последующие услуги.</div>
    <div class="adv-add-card_big-text">На ваш баланс может быть зачислено
500 руб + 50 руб бонус TELEDOM</div>
    <form class="card-form  clearfix" novalidate>
      <div class="card-types">
        <img class="card-types_icon" src="assets/icon/visa.png">
        <img class="card-types_icon" src="assets/icon/mastercard.png">
        <img class="card-types_icon" src="assets/icon/amex.png">
        <img class="card-types_icon" src="assets/icon/discover.png">
        <img class="card-types_icon" src="assets/icon/paypal.png">
      </div>
      <input  class="card-form_input" ng-model="card.name"  placeholder="Имя на карте" ng-required="true"/>
      <input  class="card-form_input" ng-model="card.number" cc-format cc-number placeholder="1234 5678 9101 1112" ng-required="true"/>
      <div cc-exp class="month-year-input">
        <input class="month-year-input_input" cc-exp-month ng-model="card.month"  placeholder="12"/>
        /
        <input class="month-year-input_input" cc-exp-year ng-model="card.year"  placeholder="12"/>
      </div>
      <input class="card-form_input card-form_input-cvv" ng-model="card.cvv" cc-cvc placeholder="111"/>
    </form>
  </ion-content>

  <div class="bar bar-footer counters-footer">
    <div class="footer-buttons">
        <button class="button-bottom hello-btn">
          <span>Попробовать ВСЕ возможности <br/>
Теледом 1 месяц / 10 руб.</span>
        </button>
    </div>
  </div>
</ion-view>
